.container__toggle {
    min-height: gs-height(1);
    min-width: gs-span(1);
    position: absolute;
    top: 2px;
    right: 0;
    border: 0;
    background-color: transparent;
    @include fs-textSans(3);
    color: #ffffff;

    i {
        @include transform(rotate(180deg));
        position: absolute;
        top: 13px;
        left: 50%;
        margin-left: -12px;

        .container--rolled-up & {
            @include transform(rotate(0));
        }
    }
    .container__toggle__text {
        display: none;
        position: relative;
        top: -2px;
    }
    @include mq(tablet) {
        text-align: right;
        color: $c-neutral2;

        .facia-container--advertisement &,
        .container--advertisement-feature & {
            border-left-width: 0;
        }
        &:hover,
        &:focus {
            color: $c-neutral1;
        }
        i {
            display: none;
        }
        .container__toggle__text {
            display: block;
        }
    }

    @include mq(leftCol) {
        left: gs-span(13) + $gs-gutter;
    }

    @include mq(wide) {
        left: gs-span(15) + $gs-gutter;

        .has-page-skin & {
            left: auto;
        }
    }
}
